name: Build KOReader for PocketBook

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        shell: bash

    steps:

      - name: Checkout KOReader Source
        uses: actions/checkout@v4
        with:
          repository: koreader/koreader
          fetch-depth: 0
          submodules: false

      - name: Configure Git for custom crengine fork
        run: |
          git config --global url."https://github.com/reuerendo/crengine".insteadOf "https://github.com/koreader/crengine.git"
          git config --global url."https://github.com/reuerendo/crengine".insteadOf "https://github.com/koreader/crengine"

      - name: Fetch third-party dependencies
        run: |
          make fetchthirdparty

      - name: Build KOReader for PocketBook
        run: |
          docker run --rm \
            -v $(pwd):/home/ko/build \
            -w /home/ko/build \
            ghcr.io/koreader/koxtoolchain:pocketbook-latest \
            bash -c "source ~/.bashrc && make TARGET=pocketbook"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: koreader-pocketbook
          path: koreader-pocketbook-*
